<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>


<table>
    <thead>
    <tr>
        <th>Login</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Permission</th>
        <th>last update date</th>
        <th>Registered date</th>
        <th>Modify client</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.getLogin()}"/>
        <td th:text="${client.getName()}"/>
        <td th:text="${client.getSurname()}"/>
        <td th:text="${client.getEmail()}"/>
        <td th:text="${client.getPermission()}"/>
        <td th:text="${client.getClientUpdated()}"/>
        <td th:text="${client.getClientRegistered()}"/>
        <td>
            <button>
                <a th:href="@{/edit(id=${client.getId()})}" style="text-decoration: none; color: inherit;">
                    Edit
                </a>
            </button>
            <button>
                <a th:href="@{/delete(id=${client.getId()})}" style="text-decoration: none; color: inherit;">
                    Delete
                </a>
            </button>

        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr th:each="page : ${clients.getTotalPages()}">
        <td>
            <button>
                <a th:href="@{/(page=${clients.getNumber()+1})}" style="text-decoration: none; color: inherit;">
                    <p th:text="page + ${clients.getNumber()}"/>
                </a>
            </button>
        </td>
    </tr>
    </tbody>

</table>

<button>
    <a th:href="@{/addNewClient}" style="text-decoration: none; color: inherit;">
        Add new client
    </a>
</button>

</body>
</html>
